[user]
    name = <Insert First Name>
    email = <insert mail>@amadeus.com
[color]
    diff = auto
    status = auto
    branch = auto
[alias]
    ci = commit
    co = checkout
    st = status
    br = branch
    ds = diff --stat
    logg = log --graph --decorate --pretty=oneline --abbrev-commit --all
